body{
    margin-top: 20px;
    margin-left: 325px;
    margin-right: 325px;
    background: url('./army.JPG');
    color:rgb(255, 255, 255);
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
    border-radius: 25px;
    background-color:rgb(39, 44, 18);
    padding: 20px;
    border: solid rgb(255, 250, 250);
  }

table{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 21px;

}

h1{
    align-items: center;
    color:white;
}

input[type=button]:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

input[type=reset]:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}
  
